# AGENDA
 
Variable Case senstivity

Reserved words in Python

Multi assignment of variables 

User input

type casting | type conversion 

Memory block

Operators

Logical
Equality
Comparision
Arthimatic
Bitwise 
Operators for sets and dictionary
String methods

#### Variable Case senstivity

In [ ]:
TEN= 10
ten =20
#TEN and ten both are different in terms of lowercase and uppercase letter

In [4]:
print(TEN)

10

In [5]:
print(ten)

20

#### Reserved words in Python

#and       del       from      not       while    
#as        elif      global    or        with     
#assert    else      if        pass      yield    
#break     except    import    print              
#class     exec      in        raise              
#continue  finally   is        return             
#def       for       lambda    try

In [ ]:
# 1. We should not use reserved words as variable names
# 2. Also python doesn't restrict the user to use reserved keywords as variable names

In [12]:
print= "rohini" # as variable
type(print)

str

#### Multi assignment of variables

In [3]:
a, b, c, yes = 10, 20.2, "rohini", True

In [4]:
type(a)

int

In [5]:
type(b)

float

In [6]:
type(c)

str

In [7]:
type(yes)

bool

In [8]:
print(type(a))
print(type(b))
print(type(c))
print(type(yes))

<class 'int'>
<class 'float'>
<class 'str'>
<class 'bool'>

In [10]:
a=b=c=10

In [11]:
a,b,c

(10, 10, 10)

In [12]:
firstName, middleName, sirName = "Rohini", "Subhash", "Chavhan"

In [15]:
print(f"{firstName}.{sirName}@gmail.com")

Rohini.Chavhan@gmail.com

In [16]:
name, place, year_of_birth = "Rohini", "Pune", 1995

In [17]:
print(f"""
My name is :{name}
i live at :{place}
i was born in :{year_of_birth}
""")

My name is :Rohini
i live at :Pune
i was born in :1995

#### User input

In [18]:
name = input("Enter your Name: ")

print(f"You have entered: {name}")

Enter your Name: Rohini
You have entered: Rohini

In [20]:
A= input("Enter the value of A: ")
B= input("Enter the value of B: ")
print(f"sum of A and B is : {A+B}")

Enter the value of A: 10
Enter the value of B: 20
sum of A and B is : 1020

In [2]:
name= input("Name: ")
place= input("place: ")
year_of_birth=input("year_of_birth: ")

Name: Rohini
place: Pune
year_of_birth: 1995

In [4]:
## calcualte the age of the user
name= input("Name: ")  #always gives you string values
place=input("Place: ")
year_of_birth= int(input("year_of_birth: "))  #convert this into integer

age= 2023-year_of_birth

print(f"""
My name is :{name}
i live at: {place}
{name} is of age : {age}
""")

Name: Rohini
Place: Pune
year_of_birth: 1995

My name is :Rohini
i live at: Pune
Rohini is of age : 28

#### Type conversion

In [5]:
A= int(input("Enter the value of A: "))
B= int(input("Enter the value of B: "))
print(f"sum of A and B is : {A+B}")

Enter the value of A: 10
Enter the value of B: 20
sum of A and B is : 30

In [6]:
# String to integer
a= "50"
type(a)

str

In [7]:
a=int(a)

In [8]:
a

50

In [9]:
type(a)

int

In [10]:
# float to integer
b= 20.3
type(b)

float

In [11]:
b=int(b)

In [12]:
b

20

In [13]:
type(b)

int

In [15]:
# integer to float
c= 50
type(c)

int

In [16]:
c=float(c)

In [17]:
c

50.0

In [18]:
type(c)

float

In [19]:
# integer to boolean

A = 10
print(f"data type before: {type(A)}, value of A: {A}")
A = bool(A)
print(f"data type after: {type(A)}, value of A: {A}")

data type before: <class 'int'>, value of A: 10
data type after: <class 'bool'>, value of A: True

In [ ]:
# NOTE: Converting any non zero number and string values into boolean will give True as an answer

# NOTE: Empty string "" will give False as an answer after converting from string to boolean

In [20]:
# integer to boolean
A = 0
print(f"data type before: {type(A)}, value of A: {A}")
A = bool(A)
print(f"data type after: {type(A)}, value of A: {A}")

data type before: <class 'int'>, value of A: 0
data type after: <class 'bool'>, value of A: False

#### Memory block

In [21]:
a=20
b=30
c=40

In [22]:
id(a) #memory address

2151545269136

In [29]:
id(c)

2151545270160

In [30]:
id(b)

2151545269456

In [31]:
id(c)

2151545270160

In [32]:
c= 50+b

In [33]:
id(c)

2151545459536

In [34]:
x=int(2151545269456)
y=int(50)
z=x+y

In [35]:
z

2151545269506

In [36]:
# Memory is assigned to the value of variable passed not the variable name